.contactItem {
  list-style-type: circle;
  width: 100%;
  max-width: 400px;
  font-size: 18px;
  margin-bottom: 8px;
}
.contactItem div {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #99c4c8;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

svg {
  vertical-align: text-top;
}
